/**
 * @author Daniel Estrada <daniel@dcge.co>
 * DCGE Studio @dcgestudio
 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: radial-gradient(circle, #3498db 0, #2980b9 120%);
  color: #ecf0f1;
}

a {
  color: #2c3e50;
}

.footer {
  position: relative;
  top: 15rem;
  line-height: 60px;
}

.quote {
  text-align: center;
  min-height: 100%; 
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.mt-1 {
  padding-bottom: 10px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 450px;
  padding: 0 15px;
}